@media (max-width: 1220px) {
    .wrapper {
        max-width: calc(100% - 50px) !important;
    }
}

@media (max-width: 1180px) {
    .header .wrapper .row .w-2:first-child {
        width: 25%;
    }
    .header1 .wrapper .row .w-2:last-child {
        width: 50%;
    }
    .header .wrapper .row .align-right.w-2 {
        width: 75%;
    }
    #Title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #TopBottom .wrapper {
        justify-content: center;
        flex-direction: column;
    }
    #TopBottom {
        height: auto;
        padding-bottom: 10px;
    }
    #text {
        padding-top: calc(15% - 30px);
    }
    #CenterPage #text img:first-child {
        width: calc(100% - 200px);
    }
    #CenterPage img:first-child {
        width: calc(100% - 40px);
    }
    .plant_list {
        display: flex;
        align-items: center;
    }
    #MainMenu ul {
        padding: 0;
    }
    .Samples {
        justify-content: center;
    }
    #TomatoInfo h1 {
        font-size: 45px;
        margin-bottom: 15px;
    }
    #TomatoInfo h1 span {
        font-size: 45px;
    }
    #excerption {
        margin: 33px 0;
    }
    #excerption p {
        font-size: 27px;
    }
    #excerption img {
        width: 76px;
    }
    #TomatoImage img {
        width: calc(100% - 50px);
        float: right;
    }
    .ListInfo h2 {
        font-size: 17px;
    }
    .ListInfo ul li {
        color: #324950;
        font-size: 15px;
        line-height: 162.7%;
    }
    #DPDF p {
        font-size: 16px;
    }
    #CUF form {
        flex-direction: column;
    }
    #CUF .w-2 {
        width: 100%;
        max-width: none;
        min-width: auto;
    }
    #CUF select {
        width: 100%;
    }
    #CUF input[type="submit"] {
        width: calc(100% - 100px);
    }
    #CUF {
        padding-bottom: 25px;
    }
}

@media (max-width: 956px) {
    #MainActivities h2 {
        text-align: center;
        font-size: 46px;
    }
    #MainActivities h3 {
        text-align: center;
        font-size: 16px;
    }
    #MainActivities .plant p {
        text-align: center;
        font-size: 14px;
    }
    .plant_list {
        justify-content: center;
    }
    .footer ul li a {
        font-size: 13px;
    }
    #BottomFooter p {
        font-size: 12px;
    }
    #CenterPage h2 {
        font-size: 46px;
    }
    #CenterPage p {
        font-size: 17px;
    }
    #menu ul li a {
        font-size: 16px;
    }
    #slider h1 {
        font-size: 39px;
    }
    #slider a {
        font-size: 14px;
        width: 145px;
        height: 50px;
        line-height: 50px;
    }
    #MainMenu ul li .text {
        font-size: 13px;
    }
    #slider {
        padding: 255px 0px;
    }
    #MainContent h1 {
        font-size: 38px;
    }
    #MainContent p {
        font-size: 15px;
    }
    #Fragment .w-3 h3 {
        font-size: 21px;
    }
    #Fragment .w-3 p {
        font-size: 13px;
    }
    .Sample img {
        min-width: 310px;
    }
    .Sample h3 {
        font-size: 18px;
    }
    #TomatoInfo h1 {
        font-size: 36px;
    }
    #TomatoInfo h1 span {
        font-size: 36px;
    }
    #excerption {
        margin: 28px 0;
    }
    #excerption p {
        font-size: 23px;
    }
    #excerption img {
        width: 66px;
    }
    .ListInfo h2 {
        font-size: 16px;
    }
    .ListInfo ul li {
        color: #324950;
        font-size: 14px;
        line-height: 162.7%;
    }
    #DPDF p {
        font-size: 15px;
        line-height: 240%;
    }
}

@media (max-width: 780px) {
    #menu {
        text-align: right;
    }
    #menu:before {
        content: "";
        display: inline-block;
        background-size: 100% 100%;
        background-image: url(../images/menu.png);
        width: 27px;
        height: 27px;
    }
    #menu:active ul, #menu:hover ul {
        display: block;
    }
    #menu ul {
        position: absolute;
        right: 10px;
        top: 110px;
        width: 60%;
        height: 340px;
        background-color: #fff;
        display: none;
        border: 1px solid #DADADA;
        border-radius: 15px;
    }
    #menu ul li {
        margin-left: 0;
        display: block;
        text-align: center;
    }
    #menu ul li a{
        width: calc(100% - 10px);
        margin: 15px 0;
        padding-right: 10px;
        font-size: 25px;
        display: block;
        line-height: 150%;
    }
    .footer ul {
        min-width: 100%;
    }
    #slider h1 {
        padding: 0 15px;
    }
    #search {
        width: calc(80% - 40px);
    }
    #slider {
        padding: 180px 0px;
    }
    #Fragment .w-3 h3 {
        font-size: 18px;
    }
    #Fragment .w-3 p {
        font-size: 12px;
    }
    .Sample img {
        min-width: 250px;
    }
    .Sample h3 {
        font-size: 15px;
    }
    .Sample p {
        font-size: 13px !important;
    }
    #MainContent h1 {
        font-size: 33px;
    }
    #MainContent p {
        font-size: 13px;
    }
    #TomatoInfo h1 {
        margin-top: 10px;
        font-size: 32px;
    }
    #TomatoInfo h1 span {
        font-size: 32px;
    }
    #excerption {
        margin: 25px 0;
    }
    #excerption p {
        font-size: 21px;
    }
    #excerption img {
        width: 60px;
    }
    .ListInfo h2 {
        font-size: 15px;
    }
    .ListInfo ul li {
        color: #324950;
        font-size: 13px;
        line-height: 162.7%;
    }
    #DPDF p {
        font-size: 14px;
        line-height: 240%;
    }
}

@media (max-width: 700px) {
    #MainMenu ul {
        display: block;
    }
    #CenterPage .w-2 {
        width: 100%;
        float: center;
    }
    #CenterPage .row {
        display: flex;
        flex-direction: column;
    }
    #CenterPage .wrapper {
        padding-top: 0;
        text-align: center;
    }
    #CenterPage #text {
        padding-top: 30px;
        padding-left: 0 !important;
    }
    #CenterPage h2 {
        font-size: 50px;
    }
    #CenterPage p {
        font-size: 17px;
    }
    #CenterPage .w-2 img {
        padding-top: 15px 0;
        float: none !important;
    }
    #MainActivities h2 {
        font-size: 50px;
        margin-top: 40px;
    }
    .plant_list {
        flex-direction: column;
    }
    .plant img {
        width: calc(100% - 13   0px);
    }
    #MainActivities h3 {
        font-size: 22px;
    }
    #MainActivities .plant p {
        font-size: 18px;
    }
    #MainContent h1 {
        text-align: center;
        font-size: 26px;
        padding-top: 30px;
        line-height: 150%;
    }
    #MainContent p {
        text-align: center;
    }
    #MainContent .Message p {
        text-align: left;
    }
    #Fragment {
        max-height: none;
    }
    #Fragment .w-3 {
        width: 100%;
    }
    #Fragment .w-3 h3 {
        text-align: center;
        width: 100%;
        display: flow-root;
        font-size: 24px;
    }
    #Fragment .w-3 p {
        font-size: 16px;
    }
    #Fragment .w-3 hr {
        margin-left: auto;
    }
    #Fragment .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #TomatoInfo .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #TomatoInfo .w-2 {
        width: 80%;
    }
    #TomatoInfo h1 {
        text-align: center;
        margin-top: 14px;
        font-size: 40px;
    }
    #TomatoInfo h1 span {
        font-size: 40px;
    }
    #Title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #excerption {
        margin: 30px 0;
        display: flex;
        justify-content: center;
    }
    #excerption p {
        font-size: 28px;
    }
    #excerption img {
        width: 76px;
    }
    .ListInfo h2 {
        font-size: 20px;
    }
    .ListInfo ul li {
        font-size: 16px;
    }
    #DPDF p {
        font-size: 16px;
    }
    #PDFImage {
        align-items: center;
        text-align: center;
    }
    #TomatoImage img {
        float: none;
    }
    #TomatoInfo {
        padding-bottom: 50px;
    }
}

@media (max-width: 550px) {
    .footer ul li a {
        font-size: 10px;
    }
    #BottomFooter p {
        font-size: 9px;
    }
    #TomatoInfo h1 {
        font-size: 29px;
    }
    #TomatoInfo h1 span {
        font-size: 29px;
    }
    #excerption p {
        font-size: 20px;
    }
    #excerption img {
        width: 60px;
    }
    .ListInfo h2 {
        font-size: 17px;
    }
    .ListInfo ul li {
        font-size: 13px;
    }
    #CUF .SM input[name=capcha] {
        width: calc(100% - 160px);
    }
    #CUF .SM input[name=SendMessage] {
        width: 100%;
        margin-top: 10px;
    }
    .SM {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .footer ul {
        align-items: center;
        flex-direction: column;
        margin: 8px 0;
    }
    .footer ul li {
        padding: 5px 0;
    }
    .footer ul li a {
        font-size: 13px;
    }
    .header .wrapper .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header .wrapper .row .w-2:first-child {
        width: auto;
    }
    #header1 .wrapper .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .align-right.w-2 {
        width: 100%;
        text-align: left;
    }
    #slider {
        padding: 200px 0px;
        margin-top: -204px;
    }
    #mainlogo {
        text-align: center;
    }
    .align-right.w-2 {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    #search {
        width: 85%;
        margin-bottom: 10px;
    }
    #menu {
        width: 10%;
        text-align: right;
    }
    #menu ul {
        position: absolute;
        right: 10px;
        top: 170px;
        width: 60%;
        height: 305px;
        background-color: #fff;
        display: none;
        border: 1px solid #DADADA;
        border-radius: 15px;
    }
    #menu ul li a {
        font-size: 22px;
    }
    .footer ul li {
        margin-left: 0;
    }
    #TomatoSlider img {
        margin-top: 0;
    }
    #Fragment .w-3 h3 {
        font-size: 18px;
    }
    #Fragment .w-3 p {
        font-size: 12px;
    }
    #slider h1 {
        font-size: 30px;
    }
    .logo {
        text-align: center;
    }
    #TomatoInfo h1 {
        font-size: 20px;
    }
    #TomatoInfo h1 span {
        font-size: 20px;
    }
    #excerption p {
        font-size: 13px;
    }
    #excerption {
        margin: 15px 0;
    }
    #excerption img {
        width: 40px;
    }
    .ListInfo h2 {
        font-size: 17px;
    }
    .ListInfo ul li {
        font-size: 13px;
    }
    #header .wrapper .row .w-2:first-child {
        width: 100%;
    }
    #CUbg img {
        margin-top: 0;
    }
    #addres h2 {
        margin: 25px 0 0 0;
    }
}