html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 1127px;
    width: 100%;
    margin: 0 auto;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.w-1 {
    width: 100%;
    float: left;
}

.w-2 {
    width: 50%;
    float: left;
}

.w-3 {
    width: 33.33%;
    float: left;
}

.w-4 {
    width: 25%;
    float: left;
}

.w-5 {
    width: 20%;
    float: left;
}

.w-7 {
    width: 14.28%;
    float: left;
}

a {
    text-decoration: none;
}

.align-right {
    text-align: right;
}

.flex {
    display: flex;
    align-items: flex-end;
}

#header {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}

#header .logo img{
    width: 166px;
    height: 83px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper .row .w-2:last-child .ListInfo {
    padding-left: 22px;
}

.logo img {
    width: 166px;
    height: 83px;
    margin-top: 10px;
}

#search {
    border-bottom: 1px solid #324950;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    vertical-align: bottom;
    margin-top: 10px;
    margin-bottom: 20px;
}

#search input {
    font-size: 16px;
    color:#324950;
    background-color: transparent;
    border: none;
    max-width: 327px;
    width: 100%;
    height: 29px;
}

#search input::placeholder {
    color:#324950;
}

#search input:focus {
    outline: none;
}

#search button {
    background: url(../images/S.png) no-repeat center;
    font-size: 0;
    height: 18px;
    width: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
}

#menu {
    width: 100%;
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu ul li {
    display: inline;
    margin-left: 13px;
}

#menu ul li a {
    text-decoration: none;
    color:#324950;
    font-size: 18px;
    font-weight: bold;
}

#menu ul li a:hover {
    color: #57984C;
}

#CUbg img {
    width: 100%;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: -4px;
}

#CUF {
    background-color: #F7F7F7;
    padding-bottom: 45px;
}

#CUF h1 {
    margin: 0;
    padding: 51px 0 40px;
    line-height: 142.7%;
    font-size: 44px;
    font-weight: bold;
    color: #324950;
}

#xxxxx {
    margin-bottom: 45px;
}

#CUF form {
    display: flex;
    justify-content: space-between;
}

#CUF .w-2 {
    width: 31.5%;
    max-width: 482px;
}

form .w-2:last-child {
    min-width: 635px;
}

#CUF p {
    color: #324950;
    margin: 0;
}

#CUF input {
    width: calc(100% - 6px);
    height: 51px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin: 10px 0 20px;
}

#CUF select {
    width: 635px;
    height: 55px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px 0 20px;
}

#CUF textarea {
    width: calc(100% - 6px);
    height: 358px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin: 10px 0 16px;
    resize: none;
}

.SM {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#Capcha {
    margin-bottom: -5px;
}

#CUF input[name="capcha"] {
    width: 223px;
    height: 53px;
    margin: 0;
    padding: 0;
}

#CUF input[type="submit"] {
    width: 255px;
    height: 55px;
    background-color: #57984C;
    color: #FFFFFF;
    line-height: 200%;
    font-size: 17px;
    border-radius: 30px;
    float: right;
    cursor: pointer;
    margin: 0;
}

#addres {
    background-color: #ffffff;
    text-align: center;
}

#addres h2 {
    color:#57984C;
    line-height: 142.7%;
    font-size: 20px;
    margin: 45px 0 0 0;
}

#addres hr {
    border-top: 1px solid #57984C;
    margin: 0;
    display: inline-block;
    width: 183px;
    color:#57984C;
}

#addres p {
    line-height: 150%;
    font-size: 17px;
}

#addres a {
    color:#57984C;
}

.footer {
    height: 127px;
}

.footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    min-width: 724px;
    justify-content: space-between;
}

.footer ul li {
    display: inline;
    margin-left: 16px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

#TopBottom {
    background-color: #2D3F45;
    height: 76px;
}

#TopBottom .wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#BottomTopRight {
    display: flex;
    justify-content: space-evenly;
    width: 211.2px;
}

#BottomFooter {
    background-color: #324950;
    height: 51px;
    color: #B9B9B9;
    text-align: center;
}

#BottomFooter p {
    padding-top: 20px;
    margin: 0;
    vertical-align: middle;
    font-size: 14px;
}